.container {
  max-width: 400px;
  margin-top: 100px;
}

.judul {
  margin-bottom: 50px;
}

.carousel {
  padding-left: 200px;
  padding-right: 200px;
}

.dropdown {
  right: 50px;
}

.putih {
  color: #ffffff;
}